- if @task.errors.any?
  #error_explanation
    .alert.alert-danger
      - t(:form_has) + ' ' + I18n.t(:error, count: @task.errors.count)
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg