- if @user.errors.any?
  #error_explanation
    .alert.alert-danger.text-left
      - t(:form_has) + ' ' + I18n.t(:error, count: @user.errors.count)
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg