= provide(:title, current_user.admin? ? t(:admin_interface) : t(:user_interface))
.row.center
  .col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
    .text-center
      = render 'shared/flash'
      .jumbotron
        %h2= current_user.admin? ? t(:admin_interface) : t(:user_interface)
        .row

        = render current_user.admin? ? 'admin_interface' : 'user_interface'