/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require cookies_eu
 *= require_tree .
 *= require_self
 */

/* General */

.btn-toolbar {
  display: block;
  margin: 25px auto 5px;
  width: 100%;
}

.d-inline {
  display: inline;
}

textarea {
  resize: vertical;
}

.table-limit {
  max-height: 350px;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.row-p-t {
  padding-top: 20px !important;
}

.row-p-b {
  padding-bottom: 20px !important;
}

.clear-padding {
  padding: 0 !important;
}

.clear-margin {
  margin: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.p-l-4 {
  padding-left: 4px !important;
}