#user-link {
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding: 8px;
  font-weight: bold;
  float: right;
  text-decoration: none;
  &:hover {
    background-color: #303030;
  }
}